<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript">
  var word_array = [
    <% for i in 0...@texts.size %>
      {text: "<%= @texts[i] %>", weight: <%= @weights[i] %>, link:"https://www.google.co.kr/webhp?hl=ko&sa=X&ved=0ahUKEwiEq9i91uLSAhVIwLwKHXB1BloQPAgD#q=<%= @candidate.name %>+<%=@texts[i]%>&newwindow=1&hl=ko&tbm=nws&*"},
    <% end %>
  ];

  $(function() {
    // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
    $("#word_cloud").jQCloud(word_array);
  });
</script>

<div class="container">
  <div id="inform_wrapper">
    <div id="inform_content">
      <div id="candidate_pic">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm8vOX_z0SoI7Lnh1YHaoImkUtZZatSUSYwir6EsDIn41cAYRuZXP7Er4"/>
      </div>
      <div id="candidate_inform">
        <p><%= @candidate.name %>(지지율 0위 <%=@rate %>%)</p>
        <p>소속: <%= @candidate.party %></p>
        <p><a href="<%= @candidate.link %>"><%= @candidate.link %></a></p>
      </div>
    </div>
  </div>
  <div id="word_cloud" style="width: 550px; height: 350px;"></div>
    <div id="article_wrapper">
      <% @articles.each do |article| %>
        <div class="each_article">
          <div class="article_pic">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm8vOX_z0SoI7Lnh1YHaoImkUtZZatSUSYwir6EsDIn41cAYRuZXP7Er4"/>
          </div>
          <div class="article_content">
            <a href= "<%= article.link %>"><%=article.title%></a>
          </div>
          <div class="article_flavor2">
            <a href= "/home/like/<%=article.id%>">좋아요</a>(<%=article.like%>)
            <a href= "/home/unlike/<%=article.id%>">싫어요</a>(<%=article.unlike%>)
          </div>
        </div>
      <% end %>
    </div>
    <div id="graph_wrapper">
      <!--지지율 그래프 그리기 시작-->
       <div id="popularity_graph" style="width: 550px; height: 400px;"></div>
       
       <script language="JavaScript">
       $(document).ready(function() {
          var title = {
             text: '대선 후보 지지도'
          };
          var subtitle = {
             text: '출처: 한국갤럽'
          };
          var xAxis = {
             categories: ['3주 전', '2주 전', '1주 전', '이번 주']
          };
          var yAxis = {
             title: {
                text: '지지율 (%)'
             },
             plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
             }]
          };
       
          var tooltip = {
             valueSuffix: '%'
          }
       
          var legend = {
             layout: 'vertical',
             align: 'right',
             verticalAlign: 'middle',
             borderWidth: 0
          };
       
          var series =  [
             {
                name: '<%= @candidate.name %>',
                data: [<%= @candidate.rank3ago %>, <%= @candidate.rank2ago %>, <%= @candidate.rank1ago %>, <%= @candidate.rank %>]
             },
          ];
       
          var json = {};
       
          json.title = title;
          json.subtitle = subtitle;
          json.xAxis = xAxis;
          json.yAxis = yAxis;
          json.tooltip = tooltip;
          json.legend = legend;
          json.series = series;
       
          $('#popularity_graph').highcharts(json);
       });
       </script>
       <!--지지율 그래프 그리기 끝-->
    </div>
</div>
