<script src="https://code.highcharts.com/highcharts.js"></script>

<section class="candidate_main">
  <div class="row">
    <div class="col offset-m1 m10 offset-l3 l6">
      <%= image_tag (@candidate.image), :style =>"width: 100%;" %>
    </div>
  </div>
</section>

    <!--워드클라우드-->
    <div class="flexbox">
      <div id="word_cloud" style="flex:1; height: 500px;"></div>
    </div>

  <div class="container">
    <% @articles.each do |article| %>
      <div class="row">
        <hr class="article-border">
        <!--후보자 이름-->
        <div class="col s2 l2">
          <div class="article_candidate">
            <% article.candidates.each do |candi| %>
              <a class="section2" href="https://cherry-election-kanghyeongmin.c9users.io/home/candidate/<%=candi.id%>"><%= candi.name %></a>
            <% end %>
          </div>
        </div>
        
        <!--기사 제목-->
        <div class="col s8 l8">
          <div class="article_title">
            <a href= "<%= article.link %>" class="section2">[<%=article.publisher %>] <%=article.title%></a>
            <br><p>(<%=article.article_date %>)</p>
          </div>
        </div>
        
        <!--좋아요,싫어요 버튼 부분-->
        <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
        <!--1단계 if : 이전 좋아요/싫어요 기록이 있으면 -->
        <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %> 
        
          <!--2단계 if : 좋아요를 눌러둔 상태-->
          <% if userfavor.check_like %>
            <div class="col s2 l2">
              <%= form_tag("/article/like_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요 취소(#{article.like || 0})", :class =>"btn red lighten-4 waves-effect") %>
              <% end %>
            </div>
            <div class="col s2 l2">
              <%= form_tag("/article/unlike", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요(#{article.unlike || 0})", :class =>"btn grey lighten-1 waves-effect") %>
              <% end %>
            </div>
            
          <!--2단계 else : 싫어요를 눌러둔 상태-->
          <% else %>
            <div class="col s2 l2">
              <%= form_tag("/article/like", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요(#{article.like || 0})", :class =>"btn red lighten-4 waves-effect") %>
              <% end %>
            </div>
            <div class="col s2 l2">
              <%= form_tag("/article/unlike_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요 취소(#{article.unlike || 0})", :class =>"btn grey lighten-1 waves-effect") %>
              <% end %>
            </div>
          <% end %>
          
        <!--1단계 else : 이전 좋아요/싫어요 기록이 없으면 -->
        <% else %> 
          <div class="col s2 l2">
            <%= form_tag("/article/like", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= submit_tag("좋아요(#{article.like || 0})", :class =>"btn red lighten-4 waves-effect") %>
            <% end %>
          </div>
          <div class="col s2 l2">
            <%= form_tag("/article/unlike", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= submit_tag("싫어요(#{article.unlike || 0})", :class =>"btn grey lighten-1 waves-effect") %>
            <% end %>
          </div>
        <% end %>
      </div> <!--end of row-->
    <%end%> <!--end of for @articles.each-->
    
    <!--지지율 그래프-->
    <div id="graph_wrapper flex">
      <div id="popularity_graph" style="flex: 1; height: 400px; margin-top: 40px; margin-bottom: 40px;"></div>
    </div>
  </div> <!--end of container-->

  <!--자바스크립트 부분-->
  <script type="text/javascript">
      // word cloud
      var word_array = [
          <% for i in 0...@texts.size %>
          {text: "<%= @texts[i] %>", weight: <%= @weights[i] %>, link:"https://www.google.co.kr/webhp?hl=ko&sa=X&ved=0ahUKEwiEq9i91uLSAhVIwLwKHXB1BloQPAgD#q=<%= @candidate.name %>+<%=@texts[i]%>&newwindow=1&hl=ko&tbm=nws&*"},
          <% end %>
      ];

      // highchart
      var title = { text: '대선 후보 지지도' };
      var subtitle = { text: '출처: JTBC · 한국리서치 여론조사' };
      var xAxis = { categories: ['2017.04.19', '2017.04.25', '2017.04.26', '2017.05.02'] };
      var yAxis = {
          title: { text: '지지율 (%)' },
          plotLines: [{ value: 0, width: 1, color: '#808080'}]
      };
      var tooltip = { valueSuffix: '%' }
      var legend = { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0 };

      var series = [{
          name: '<%= @candidate.name %>',
          data: [<%= @candidate.rank3ago %>, <%= @candidate.rank2ago %>, <%= @candidate.rank1ago %>, <%= @candidate.rank %>]
      },];
      var json = {};
      json.title = title;
      json.subtitle = subtitle;
      json.xAxis = xAxis;
      json.yAxis = yAxis;
      json.tooltip = tooltip;
      json.legend = legend;
      json.series = series;

      $(document).ready(function() {
          $("#word_cloud").jQCloud(word_array);
          if(json){
          $('#popularity_graph').highcharts(json);
          }
      });
  </script>



</div>
