<script>
    // $(document).ready(function(){
    //   alert("<%=@message%>"); 
    // });
</script>
<h2>경희</h2>
<% @articles.each do |article| %>
    <p>
        <a href= "<%= article.link %>"><%=article.title%></a>
        <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
        <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
          <% if userfavor.check_like %>
            <%= form_tag("/article/like_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요 취소") %>(<%=article.like%>)
            <% end %>
            <%= form_tag("/article/unlike", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요") %>(<%=article.unlike%>)
            <% end %>
          <% else if userfavor.check_unlike %>
            <%= form_tag("/article/like", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요") %>(<%=article.like%>)
            <% end %>
            <%= form_tag("/article/unlike_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요 취소") %>(<%=article.unlike%>)
            <% end %>
          <% end %>
        <% end %>
        <% else %>
          <%= form_tag("/article/like", method: "post") do %>
            <%= hidden_field_tag :article , article.id %>
            <%= submit_tag("좋아요") %>(<%=article.like%>)
          <% end %>
          <%= form_tag("/article/unlike", method: "post") do %>
            <%= hidden_field_tag :article , article.id %>
            <%= submit_tag("싫어요") %>(<%=article.unlike%>)
          <% end %>
        <% end %>
    </p>
<% end %>


   
<h2>소정</h2>
<% @candidates.each do |c| %>
<a href= "/home/candidate/<%=c.id%>"><%=c.name%></a>
<% end %>


<!--
<% @articles.each do |article| %>
<h2>[기사링크]<a href><% article.link %></a></h2>
<% end %>
-->