<!--특정후보--> 
<section>
<div class="container main">
  <div class="card_margin">
  </div>
  <div class="card_content">
    <div class="flexbox">
      <div class="col s12 m8 offset-m2 l4 offset-l3 card_content">
        <div class="card-panel grey lighten-2 z-depth-1">
          <div class="flexbox valign-wrapper" style="justify-content: space-between;">
            <div style="flex: 1; padding: 10px;">
              <%= image_tag (@candidate.image), :class => "circle responsive-img", :style =>"box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.60);" %>
            </div>
            <div style="flex: 3; margin-left: 10px;">
              <div id="candidate_inform">
                 <p class="candidate_content"><strong style="font-size: 40px"><a style="text-decorations:none; color:inherit;" href="/home/candidate/<%= @candidate.id %>"><%=@candidate.name%></a></strong>기호<%= @candidate.number %>&nbsp;(<%=@candidate.party %>)</p>
                  
                  <% @articles.each do |article| %>
                <ul>
                  <li><a href= "<%= article.link %>"><%=article.title%></a></li>
                </ul>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    
    
    <div class="divider"></div>

   <!-- 여기 두번째 section부분! 특히 모바일로 봣을때 배치 난리남 ㅠㅠ 원래 플랙스 안쓰기로 했는데
   이섭이가 한번 써봐서 어케 건드려야 될 지 모르겟 -->
    <scetion>
      <div class="container">
        <div class="row">
            <% @articles.each do |article| %>
            <div class="col l2">
              <div class="article_candidate">
                  <a class="section2" href="#">후보자</a>
              </div>
            </div>
            <div class="col l7">
              <div class="article_link">
                 <a href= "<%= article.link %>" class="section2"><%=article.title%></a>
              </div>
            </div>
            <div class="col l3">
                <div class="row">
                    <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
                    <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
                      <% if userfavor.check_like %>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/like_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요 취소(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% else if userfavor.check_unlike %>
                      <div class="col s12 m6 l6">
                        <%= form_tag("/article/like", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요 취소(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% end %>
                    <% end %>
                    <% else %>
                    <div class="col s12 m6 l6">
                      <%= form_tag("/article/like", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                      </div>
                      <div class="col s12 m6 l6">
                      <%= form_tag("/article/unlike", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                    <% end %>
                    </div>
                        
                </div>
            </div>
            <%end%>
        </div>
      </div>
    </section>
    
 <div class="divider"></div>
 
 <section>
     
<div class="container">
  <div class="row">
		<div class="col-md-12">
		  <%= image_tag ('left-arrow.png'), :class => "fa-angle-left carou_arrow" %>
      <div class="carousel">
        <% @candidates.each do |candidate| %>
          <a class="carousel-item" href="/home/candidate/<%= candidate.id %>"><%= image_tag (candidate.image), :class => "circle responsive-img" %></a>
        <% end %>
      </div>
      <%= image_tag ('right-arrow.png'), :class => "fa-angle-right carou_arrow" %>
		</div>
		
	</div>
</div>

         
 </section>
 



<script>
/*$(document).ready(function() {
    $('.carousel').carousel({
          dist:0,
          duration: 50,
          padding:20,
          
    });
    autoplay()   
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
});*/
$(document).ready(function(){
$('.carousel').carousel({
        full_width:true,
        time_constant: 100,
        dist:0,
        duration:50,
        padding:20,
        nowrap:false
      });
      

// Next slide
/*$('.carousel').carousel('next');
$('.carousel').carousel('next', 3); // Move next n times.
// Previous slide
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); // Move prev n times.
// Set to nth slide
$('.carousel').carousel('set', 4);*/

      // var carouselAutoplay = setInterval(function(){
      //       $('.fa-angle-right').click();
      //     }, 7000);

      $('.fa-angle-right').click(function(){
        $('.carousel').carousel('next');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 7000);
      });
      $('.fa-angle-left').click(function(){
        $('.carousel').carousel('prev');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-left').click();
          }, 7000);
      });
      
});           
      
</script>


<!--arrow button credit
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
