<!--특정후보--> 
<section class="random_candidate">
  <div class="row">
    <div class="col offset-m1 m10 offset-l3 l6">
      <a href="/home/candidate/<%= @candidate.id %>"><%= image_tag (@candidate.image), :style =>"width: 100%;" %></a>
    </div>
  </div>
</section>
    
    
<!--텍스트 카로우셀-->
<section>
  <div class="row">
    <div class="col offset-m1 m10 offset-l2 l8">
      
      <div class="carousel" >
        <% @candidates.each do |candidate| %>
          <a class="carousel-item" href="/home/candidate/<%= candidate.id %>"><img src="/assets/<%=candidate.caricature%>" style="width: 100%;" onMouseover= "this.src='assets/<%='1_'+candidate.caricature%>';" onMouseout= "this.src='assets/<%=candidate.caricature%>';"/></a>
        <% end %>
      </div>
  	</div>
  </div>  
</section>

<br>
<br>
<br>
<br>
<br>
<br>

<scetion>
  
  <div class="container">
    <ul class="pagination">
      <li class="waves-effect"><a href="">기사 TOP 1- 10</a></li>
      <li class="waves-effect"><a href="#!">11- 20</a></li>
      <li class="waves-effect"><a href="#!">21- 30</a></li>
      <li class="waves-effect"><a href="#!">31- 40</a></li>
      <li class="waves-effect"><a href="#!">41- 50</a></li>
      <li class="waves-effect"><a href="#!">51- 60</a></li>
      <li class="waves-effect"><a href="#!">61- 70</a></li>
      <li class="waves-effect"><a href="#!">71- 80</a></li>
      <li class="waves-effect"><a href="#!">81- 90</a></li>
      <li class="waves-effect"><a href="#!">91- 100</a></li>
      
    <% @articles.each do |article| %>
      <div class="row">
        <hr class="article-border">
        <!--후보자 이름-->
        <div class="col s2 l2">
          <div class="article_candidate">
            <% if (article.candidates.size == 1) %>
              <a class="section2" href="https://cherry-election-kanghyeongmin.c9users.io/home/candidate/<%=article.candidates[0].id%>"><%= article.candidates[0].name %></a>
            <% else %>
              <a class="section2" style="font-size: 1.3vw;" href="https://cherry-election-kanghyeongmin.c9users.io/home/candidate/<%=article.candidates[0].id%>"><%= article.candidates[0].name + ' 외 ' + (article.candidates.size-1).to_s + '명' %></a>
            <% end %>
          </div>
        </div>
        
        <!--기사 제목-->
        <div class="col s8 l8">
          <div class="article_title">
            <a href= "<%= article.link %>" class="section2">[<%=article.publisher %>] <%=article.title%></a>
            <br><p>(<%=article.article_date.strftime("%F %T") %>)</p>
          </div>
        </div>
        
        <!--좋아요,싫어요 버튼 부분-->
        <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
        <!--1단계 if : 이전 좋아요/싫어요 기록이 있으면 -->
        <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %> 
        
          <!--2단계 if : 좋아요를 눌러둔 상태-->
          <% if userfavor.check_like %>
            <div class="col s1 l1">
              <%= form_tag("/article/like_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= image_submit_tag("like.png" ) %>
                <br><%= "(#{article.like || 0})" %>
              <% end %>
            </div>
            <div class="col s1 l1">
              <%= form_tag("/article/unlike", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= image_submit_tag("unclicked_dislike.png" ) %>
                <br><%= "(#{article.unlike || 0})"%>
              <% end %>
            </div>
            
          <!--2단계 else : 싫어요를 눌러둔 상태-->
          <% else %>
            <div class="col s1 l1">
              <%= form_tag("/article/like", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= image_submit_tag("unclicked_like.png" ) %>
                <br><%= "(#{article.like || 0})" %>
              <% end %>
            </div>
            <div class="col s1 l1">
              <%= form_tag("/article/unlike_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= image_submit_tag("dislike.png" ) %>
                <br><%= "(#{article.unlike || 0})"%>
              <% end %>
            </div>
          <% end %>
          
        <!--1단계 else : 이전 좋아요/싫어요 기록이 없으면 -->
        <% else %> 
          <div class="col s1 l1">
            <%= form_tag("/article/like", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= image_submit_tag("unclicked_like.png" ) %>
              <br><%= "(#{article.like || 0})" %>
            <% end %>
          </div>
          <div class="col s1 l1">
            <%= form_tag("/article/unlike", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= image_submit_tag("unclicked_dislike.png" ) %>
              <br><%= "(#{article.unlike || 0})"%>
              
            <% end %>
          </div>
        <% end %>
      </div> <!--end of row-->
    <%end%> <!--end of for @articles.each-->
    
  </ul>  <!-- end of pagination -->
  </div> <!--end of container-->
  
</section>


<script>
$(document).ready(function(){
$('.carousel').carousel({
        full_width:true,
        time_constant: 100,
        dist:0,
        duration:50,
        padding:20,
        nowrap:false,
        indicators:false,
});


// Next slide
/*$('.carousel').carousel('next');
$('.carousel').carousel('next', 3); // Move next n times.
// Previous slide
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); // Move prev n times.
// Set to nth slide
$('.carousel').carousel('set', 4);

      var carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 8000);

      $('.fa-angle-right').click(function(){
        $('.carousel').carousel('next');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 8000);
      });
      $('.fa-angle-left').click(function(){
        $('.carousel').carousel('prev');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-left').click();
          }, 8000);
      }); */
      
}); 
      
  
      
</script>



