<!--특정후보--> 
<section class="random_candidate">
  <div class="row">
    <div class="col offset-m1 m10 offset-l3 l6">
      <a href="/home/candidate/<%= @candidate.id %>"><%= image_tag ("kimminchan_profile.png"), :style =>"width: 100%;" %></a>
    </div>
  </div>
</section>
    
    
<!--텍스트 카로우셀-->
<section>
  <div class="row">
    <div class="col offset-m1 m10 offset-l2 l8">
      <div class="carousel" >
        <% @candidates.each do |candidate| %>
          <a class="carousel-item" href="/home/candidate/<%= candidate.id %>"><%=candidate.number%>.<%=candidate.name%></a>
        <% end %>
      </div>
  	</div>
  </div>  
</section>

<br>
<br>
<br>
<br>
<br>
<br>

<scetion>
  <div class="container">
    <% @articles.each do |article| %>
      <div class="row">
        <hr class="article-border">
        <!--후보자 이름-->
        <div class="col s2 l2">
          <div class="article_candidate">
            <% article.candidates.each do |candi| %>
              <a class="section2" href="https://cherry-election-kanghyeongmin.c9users.io/home/candidate/<%=candi.id%>"><%= candi.name %></a>
            <% end %>
          </div>
        </div>
        
        <!--기사 제목-->
        <div class="col s8 l8">
          <div class="article_title">
            <a href= "<%= article.link %>" class="section2">[<%=article.publisher %>] <%=article.title%></a>
            <br><p>(<%=article.article_date %>)</p>
          </div>
        </div>
        
        <!--좋아요,싫어요 버튼-->
          <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
          <!-- 이전 좋아요/싫어요 기록이 있으면 -->
          <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %> 
          
            <% if userfavor.check_like %>
            <div class="col s2 l2">
                
                <%= form_tag("/article/like_cancel", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("좋아요 취소(#{article.like || 0})", :class =>"btn waves-effect waves-red") %>
                <% end %>
                </div>
          
             <div class="col s2 l2">
        
                <%= form_tag("/article/unlike", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("싫어요(#{article.unlike || 0})", :class =>"btn waves-effect") %>
                <% end %>
              </div>
              
            <% else if userfavor.check_unlike %>
            <div class="col s2 l2">
          
                <%= form_tag("/article/like", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("좋아요(#{article.like || 0})", :class =>"btn waves-effect waves-red") %>
                <% end %>
              </div>
           <div class="col s2 l2">
          
                <%= form_tag("/article/unlike_cancel", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("싫어요 취소(#{article.unlike || 0})", :class =>"btn waves-effect") %>
                <% end %>
              </div>
            <% end %>
            
          <% end %>
              <!-- 이전 좋아요/싫어요 기록이 없으면 -->
          <% else %> 
        <div class="col s2 l2">
    
            <%= form_tag("/article/like", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= submit_tag("좋아요(#{article.like || 0})", :class =>"btn red lighten-4 waves-effect") %>
            <% end %>
          
        </div>
        <div class="col s2 l2">
          
            <%= form_tag("/article/unlike", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= submit_tag("싫어요(#{article.unlike || 0})", :class =>"btn grey lighten-1 waves-effect") %>
            <% end %>
            <% end %>
          </div>
      
      </div> <!--end of row-->
    <%end%> <!--end of for @articles.each-->
  </div> <!--end of container-->
</section>

<<<<<<< HEAD
 <div class="divider"></div>
 
<section>
     
    <div class="container col s12 m12 l12">
      <div class="row">
    	
    		  <%= image_tag ('left-arrow.png'), :class => "fa-angle-left carou_arrow" %>
          <div class="carousel">
            <% @candidates.each do |candidate| %>
              <a class="carousel-item" href="/home/candidate/<%= candidate.id %>">
                <%= image_tag (candidate.image), :class => "circle responsive-img" %>
                <div class="circle_number_name">기호 <%=candidate.id%> <%=candidate.name%></div>
              </a>
            <% end %>
          </div>
          <%= image_tag ('right-arrow.png'), :class => "fa-angle-right carou_arrow" %>

    		
    	</div>
    </div>

         
</section>
 


=======
>>>>>>> iseob_facebook

<script>
$(document).ready(function(){
$('.carousel').carousel({
        full_width:true,
        time_constant: 100,
        dist:0,
        duration:50,
        padding:20,
        nowrap:false,
        indicators:true,
        
      });
      

// Next slide
/*$('.carousel').carousel('next');
$('.carousel').carousel('next', 3); // Move next n times.
// Previous slide
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); // Move prev n times.
// Set to nth slide
$('.carousel').carousel('set', 4);

      var carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 8000);

      $('.fa-angle-right').click(function(){
        $('.carousel').carousel('next');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 8000);
      });
      $('.fa-angle-left').click(function(){
        $('.carousel').carousel('prev');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-left').click();
          }, 8000);
      }); */
      
});           
      
</script>


<!--arrow button credit
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
