<!--특정후보--> 
<section class="random_candidate">
  <div class="row">
    <div class="col offset-m1 m10 offset-l3 l6">
      <a href="/home/candidate/<%= @candidate.id %>"><%= image_tag (@candidate.image), :style =>"width: 100%;" %></a>
    </div>
  </div>
</section>
    
    
<!--텍스트 카로우셀-->
<section>
  <div class="row">
    <div class="col offset-m1 m10 offset-l2 l8">
      <div class="carousel" >
        <% @candidates.each do |candidate| %>
          <a class="carousel-item" href="/home/candidate/<%= candidate.id %>">
            <img src="<%=image_path(candidate.caricature)%>" style="width: 100%;" onMouseover="this.src= &quot; <%= image_path('1_'+candidate.caricature) %>&quot; ;" onMouseout="this.src='<%=image_path(candidate.caricature)%>';"/>
          </a>
        <% end %>
      </div>
  	</div>
  </div>  
</section>

<br>
<br>
<br>

<section>
  <div class="container">
    <div class="row" style="margin-bottom:0px">
      <div style="width:90%; margin:auto; padding-bottom:10px;">
        <% @article_index.times do |index| %>
          <% if @page == index+1 %>
            <%= link_to "기사 TOP #{(index)*10+1}-#{(index+1)*10}", "/home/index?page="+(index+1).to_s, class:"pagination_index", style:"background:#f7f7f9;" %>
          <% else %>
            <%= link_to "#{(index)*10+1}-#{(index+1)*10}", "/home/index?page="+(index+1).to_s, class:"pagination_index"%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="article_container">
      <% @articles.each do |article| %>
        <div class="row">
          <hr class="article-border">
          <!--후보자 이름-->
          <div class="col s2 l2">
            <div class="article_candidate">
              <% if (article.candidates.size == 1) %>
                <a class="section2" href="/home/candidate/<%=article.candidates[0].id%>"><%= article.candidates[0].name %></a>
              <% else %>
                <a class="section2" style="font-size: 1.3vw;" href="/home/candidate/<%=article.candidates[0].id%>"><%= article.candidates[0].name + ' 외 ' + (article.candidates.size-1).to_s + '명' %></a>
              <% end %>
            </div>
          </div>

          <!--기사 제목-->
          <div class="col s8 l8">
            <div class="article_title">
              <a href= "<%= article.link %>" class="section2">[<%=article.publisher %>] <%=article.title%></a>
              <br><p>(<%=article.article_date.strftime("%F %T") %>)</p>
            </div>
          </div>

          <!--좋아요,싫어요 버튼 부분-->
          <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
          <!--1단계 if : 이전 좋아요/싫어요 기록이 있으면 -->
          <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %> 
            <!--2단계 if : 좋아요를 눌러둔 상태-->
            <% if userfavor.check_like %>
              <div class="col s1 l1">
                <%= form_tag("/home/like", method: "post", remote: true, class:"like_form_#{article.id}") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= hidden_field_tag :is_cancel , "true" %>
                  <%= image_submit_tag("unclicked_like.png", class:"brightness" ) %>
                  <div class="article_like_<%=article.id%> align_center"><%= "(#{article.like || 0})" %></div>
                <% end %>
              </div>
              <div class="col s1 l1">
                <%= form_tag("/home/unlike", method: "post", remote: true, class:"unlike_form_#{article.id}") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= hidden_field_tag :is_cancel , "false" %>
                  <%= image_submit_tag("unclicked_dislike.png") %>
                  <div class="article_unlike_<%=article.id%> align_center"><%= "(#{article.unlike || 0})" %></div>
                <%end %>
              </div>
              <!--2단계 else : 싫어요를 눌러둔 상태-->
            <% else %>
              <div class="col s1 l1">
                <%= form_tag("/home/like", method: "post", remote: true, class:"like_form_#{article.id}") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= hidden_field_tag :is_cancel , "false" %>
                  <%= image_submit_tag("unclicked_like.png" ) %>
                  <div class="article_like_<%=article.id%> align_center"><%= "(#{article.like || 0})" %></div>
                <% end %>
              </div>
              <div class="col s1 l1">
                <%= form_tag("/home/unlike", method: "post", remote: true, class:"unlike_form_#{article.id}") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= hidden_field_tag :is_cancel , "true" %>
                  <%= image_submit_tag("unclicked_dislike.png",  class: "brightness") %>
                  <div class="article_unlike_<%=article.id%> align_center"><%= "(#{article.unlike || 0})" %></div>
                <% end %>
              </div>
            <% end %>
            <!--1단계 else : 이전 좋아요/싫어요 기록이 없으면 -->
          <% else %> 
            <div class="col s1 l1">
              <%= form_tag("/home/like", method: "post", remote: true, class:"like_form_#{article.id}") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= hidden_field_tag :is_cancel , "false" %>
                <%= image_submit_tag("unclicked_like.png" ) %>
                <div class="article_like_<%=article.id%> align_center"><%= "(#{article.like || 0})" %></div>
              <% end %>
            </div>
            <div class="col s1 l1">
              <%= form_tag("/home/unlike", method: "post", remote: true, class:"unlike_form_#{article.id}") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= hidden_field_tag :is_cancel , "false" %>
                <%= image_submit_tag("unclicked_dislike.png" ) %>
                <div class="article_unlike_<%=article.id%> align_center"><%= "(#{article.unlike || 0})" %></div>
              <% end %>
            </div>
          <% end %>
        </div> <!--end of row-->
      <%end%> <!--end of for @articles.each-->
    </div> <!-- end of article_container -->
  </div> <!--end of container-->
</section>

<br>
<br>
<br>

<script>
$(document).ready(function(){
  $('.carousel').carousel({
    full_width:true,
    time_constant: 100,
    dist:0,
    duration:50,
    padding:20,
    nowrap:false,
    indicators:false,
  });

  $('.carousel-item').click(function(){
    var temp_href = $(this).attr('href');

    //window.location.href=temp_href;
  });
  var flag = false;

  $(".carousel-item").on("touchstart",function(){
    flag =true;
  });

  $(".carousel-item").on("touchmove",function(){
    flag =false;
  });

  $(".carousel-item").on("touchend",function(){
    var temp_href = $(this).attr('href');
    if(flag){
      window.location.href=temp_href;
    }
  });

  // Next slide
  /*$('.carousel').carousel('next');
    $('.carousel').carousel('next', 3); // Move next n times.
  // Previous slide
  $('.carousel').carousel('prev');
  $('.carousel').carousel('prev', 4); // Move prev n times.
  // Set to nth slide
  $('.carousel').carousel('set', 4);

  var carouselAutoplay = setInterval(function(){
  $('.fa-angle-right').click();
  }, 8000);

  $('.fa-angle-right').click(function(){
  $('.carousel').carousel('next');
  clearInterval(carouselAutoplay);
  carouselAutoplay = setInterval(function(){
  $('.fa-angle-right').click();
  }, 8000);
  });
  $('.fa-angle-left').click(function(){
  $('.carousel').carousel('prev');
  clearInterval(carouselAutoplay);
  carouselAutoplay = setInterval(function(){
  $('.fa-angle-left').click();
  }, 8000);
  }); */

});           

</script>



