<!--특정후보--> 
<section>
        <div class="container main">
  <div class="card_margin"></div>
  <div class="card_content">
    <div class="flexbox">
      <div class="col s12 m8 offset-m2 l4 offset-l3 card_content">
        <div class="card-panel grey lighten-2 z-depth-1">
          <div class="flexbox valign-wrapper" style="justify-content: space-between;">
            <div style="flex: 1; padding: 10px;">
              <img src="/" alt="" class="circle responsive-img" style="box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.60);"> <!-- notice the "circle" class -->
            </div>
            <div style="flex: 3; margin-left: 10px;">
              <div id="candidate_inform">
                 <p class="candidate_content">이름</p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  
</section>
    
    
    <div class="divider"></div>

    
    <scetion>
      <div class="container">
        <div class="row">
            <% @articles.each do |article| %>
            <div class="col l2">
              <div class="article_candidate">
                  <a class="section2" href="#">후보자</a>
              </div>
            </div>
            <div class="col l7">
              <div class="article_link">
                 <a href= "<%= article.link %>" class="section2"><%=article.title%></a>
              </div>
            </div>
            <div class="col l3">
                <div class="row">
                    <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
                    <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
                      <% if userfavor.check_like %>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/like_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요 취소(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% else if userfavor.check_unlike %>
                      <div class="col s12 m6 l6">
                        <%= form_tag("/article/like", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요 취소(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% end %>
                    <% end %>
                    <% else %>
                    <div class="col s12 m6 l6">
                      <%= form_tag("/article/like", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                      </div>
                      <div class="col s12 m6 l6">
                      <%= form_tag("/article/unlike", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                    <% end %>
                    </div>
                        
                </div>
            </div>
            <%end%>
        </div>
      </div>
    </section>
    
 <div class="divider"></div>
 
 <section>
     
    <div class="container">
    <div class="row">
		<div class="col-md-12">
      <div class="carousel">
        <%= image_tag ('left-arrow.png'), :class => "fa-angle-left" %> 
        
        <a class="carousel-item" href="/home/candidate/1"><img src="https://pbs.twimg.com/profile_images/798463233774350336/KlHqUNgL.jpg"></a>
        <a class="carousel-item" href="/home/candidate/2"><img src="https://jmagazine.joins.com/_data/photo/2015/01/3731681140_FAsWGfOL_5-r.jpg"></a>
        <a class="carousel-item" href="/home/candidate/3"><img src="http://pds.joins.com/news/component/htmlphoto_mmdata/201311/28/htm_201311281551720103011.jpg"></a>
        <a class="carousel-item" href="/home/candidate/4"><img src="https://jmagazine.joins.com/_data/photo/2015/12/3696639864_O1Vx95sw_88.jpg"></a>
        <a class="carousel-item" href="/home/candidate/5"><img src="https://cdn.mirror.wiki/http://info.nec.go.kr/photo_20160413/Sd4100/Gsg4120/Sgg2412001/Hb100120137/gicho/100120137.jpg"></a>
        <a class="carousel-item" href="/home/candidate/6"><img src="http://ph.kyongbuk.co.kr/news/photo/201607/966504_244605_0008.jpg"></a>
        <a class="carousel-item" href="/home/candidate/7"><img src="https://search.pstatic.net/common?type=mfullfill&size=96x120&quality=100&direct=true&src=http%3A%2F%2Fdbscthumb.phinf.naver.net%2F4864_000_1%2F20170416211317604_K823T3SRT.png%2F07.png%3Ftype%3Dm96_120%26ts%3D1"></a>
        <a class="carousel-item" href="/home/candidate/8"><img src="https://search.pstatic.net/common?type=mfullfill&size=96x120&quality=100&direct=true&src=http%3A%2F%2Fdbscthumb.phinf.naver.net%2F4864_000_1%2F20170416211309187_REP072FNA.png%2F06%2525EC%25259E%2525A.png%3Ftype%3Dm96_120%26ts%3D1"></a>
        <a class="carousel-item" href="/home/candidate/9"><img src="http://ph.kyeonggi.com/news/photo/201206/584954_493680_5745.jpg"></a>
        <a class="carousel-item" href="/home/candidate/10"><img src="http://www.joseilbo.co.kr/gisa_img/20110427225812.jpg"></a>
        <a class="carousel-item" href="/home/candidate/11"><img src="https://pbs.twimg.com/media/C7_nMIOVUAAdNru.jpg"></a>
        <a class="carousel-item" href="/home/candidate/12"><img src="https://search.pstatic.net/common?type=mfullfill&size=96x120&quality=100&direct=true&src=http%3A%2F%2Fdbscthumb.phinf.naver.net%2F4864_000_1%2F20170416211309171_UQXKBYAAA.png%2F09%2525EC%25259D%2525B.png%3Ftype%3Dm96_120%26ts%3D1"></a>
        <a class="carousel-item" href="/home/candidate/13"><img src="https://search.pstatic.net/common?type=mfullfill&size=96x120&quality=100&direct=true&src=http%3A%2F%2Fdbscthumb.phinf.naver.net%2F4864_000_1%2F20170416211309203_DJY5UF6CR.png%2F10%2525EA%2525B9%25258.png%3Ftype%3Dm96_120%26ts%3D1"></a>
        <a class="carousel-item" href="/home/candidate/14"><img src="https://search.pstatic.net/common?type=mfullfill&size=96x120&quality=100&direct=true&src=http%3A%2F%2Fdbscthumb.phinf.naver.net%2F4864_000_1%2F20170416211317448_MQFTOIQ65.png%2F21%2525EC%25259C%2525A.png%3Ftype%3Dm96_120%26ts%3D1"></a>
        <a class="carousel-item" href="/home/candidate/15"><img src="https://search.pstatic.net/common?type=mfullfill&size=96x120&quality=100&direct=true&src=http%3A%2F%2Fdbscthumb.phinf.naver.net%2F4864_000_1%2F20170416211309224_4J173Z7LN.png%2F14%2525EA%2525B9%25258.png%3Ftype%3Dm96_120%26ts%3D1"></a>
       
        
        <%= image_tag ('right-arrow.png'), :class => "fa-angle-right" %>
      </div>
      
		</div>
	</div>
</div>

         
 </section>
 



<script>
/*$(document).ready(function() {
    $('.carousel').carousel({
          dist:0,
          duration: 50,
          padding:20,
          
    });
    autoplay()   
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
});*/
$(document).ready(function(){
$('.carousel').carousel({
        full_width:true,
        time_constant: 100,
        dist:0,
        duration:50,
        padding:20,
        nowrap:false
      });
      

// Next slide
/*$('.carousel').carousel('next');
$('.carousel').carousel('next', 3); // Move next n times.
// Previous slide
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); // Move prev n times.
// Set to nth slide
$('.carousel').carousel('set', 4);*/

      // var carouselAutoplay = setInterval(function(){
      //       $('.fa-angle-right').click();
      //     }, 7000);

      $('.fa-angle-right').click(function(){
        alert('clicked_right');
        $('.carousel').carousel('next');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 7000);
      });
      $('.fa-angle-left').click(function(){
        alert('clicked_left');
        $('.carousel').carousel('prev');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-left').click();
          }, 7000);
      });
      
});           
      
</script>


<!--arrow button credit
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
