<% @articles.each do |article| %>
    <p>
        <a href= "<%= article.link %>"><%=article.title%></a>
        <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
        <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
          <% if userfavor.check_like %>
            <%= form_tag("/article/like_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요 취소") %>(<%=article.like%>)
            <% end %>
            <%= form_tag("/article/unlike", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요") %>(<%=article.unlike%>)
            <% end %>
          <% else if userfavor.check_unlike %>
            <%= form_tag("/article/like", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요") %>(<%=article.like%>)
            <% end %>
            <%= form_tag("/article/unlike_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요 취소") %>(<%=article.unlike%>)
            <% end %>
          <% end %>
        <% end %>
        <% else %>
          <%= form_tag("/article/like", method: "post") do %>
            <%= hidden_field_tag :article , article.id %>
            <%= submit_tag("좋아요") %>(<%=article.like%>)
          <% end %>
          <%= form_tag("/article/unlike", method: "post") do %>
            <%= hidden_field_tag :article , article.id %>
            <%= submit_tag("싫어요") %>(<%=article.unlike%>)
          <% end %>
        <% end %>
    </p>
<% end %>

<!--특정후보--> 
    <section>
        
     <div class="container">
       <div class="row">
           
           <div class="col l8 offset-l2 s12">
             <div class="card horizontal">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm8vOX_z0SoI7Lnh1YHaoImkUtZZatSUSYwir6EsDIn41cAYRuZXP7Er4" alt="" class="circle responsive-img">
                
              </div>
      
              <div class="card-stacked">
        
                <div class="card-action">
                <ul>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                </ul>
                </div>
              </div>
            </div>
          </div>
         
       </div>
      </div> 
      
    </section>
    
    
    <div class="divider"></div>

    
    <scetion>
      <div class="container">
        <div class="row">
            <div class="col l2">
            <div class="article_candidate">
                <a class="section2" href="#">후보자</a>
            </div>
            </div>
            
            
            <% @articles.each do |article| %>
            
            <div class="col l7">
                 
            <div class="article_link">
               <a href= "<%= article.link %>" class="section2"><%=article.title%></a>
            </div>
            </div>
            
            <div class="col l3">
                <div class="row">
                    <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
                    <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
                      <% if userfavor.check_like %>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/like_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요 취소(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% else if userfavor.check_unlike %>
                      <div class="col s12 m6 l6">
                        <%= form_tag("/article/like", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요 취소(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% end %>
                    <% end %>
                    <% else %>
                    <div class="col s12 m6 l6">
                      <%= form_tag("/article/like", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                      </div>
                      <div class="col s12 m6 l6">
                      <%= form_tag("/article/unlike", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                    <% end %>
                    </div>
                    <!--<div class="col l2 offset-l8">-->
                    <!--  <a href= "/home/like/<%=article.id%>" class="section2">좋아요</a>(<%=article.like%>)-->
                    <!--    </div>-->
                    <!-- <div class="col l2">-->
                    <!--      <a href= "/home/unlike/<%=article.id%>" class="section2">싫어요</a>(<%=article.unlike%>)-->
                    <!--</div>-->
                        
                </div>
            </div>
            <%end%>
        </div>
      </div>
    </section>
    
 <div class="divider"></div>
 
 <section>
     
    <div class="container">
    <div class="row">
		<div class="col-md-12">
      <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
        <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
        <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
        <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
      </div>
		</div>
	</div>
	
</div>
         
 </section>
 

<script src="/js/jquery-sakura.min.js"></script>
<script>
    $(document).ready(function() {
        $('body').sakura();
        setTimeout(function() {
            $('body').sakura('stop');
        }, 5000);
    });
</script>

<script>
$(document).ready(function() {
    $('.carousel').carousel({
          dist:0,
          duration: 50,
          padding:20,
    });
    autoplay()   
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
});
</script>