<!DOCTYPE html>
<html lang= "ko-KR">
<head>
  <meta charset= "UTF-8">
  <title>CherryElection</title>
  <link rel="stylesheet" href="css/grid.css" type="text/css">
</head>

<body>
    <header class= "header">
        <h1 class= "logo">벛꽃대선</h1>
    </header>
 
    <section class= "random_candidate">
     <div class="container">
      <div class="row">
      
        <div class="col-2">  
          <h2 class= "random_candidate_profile"></h2>
                <% @candidates.each do |c| %>
                <a href= "/home/candidate/<%=c.id%>"><%=c.name%></a>
        </div>
        
            
        <div class="col-10"> 
            <h2 class="random_candidate_article"></h2>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                </ul>
                <% end %>
        </div>
        
      </div> 
     </div>
    </section>

    
    <scetion class= "article">
      <div class="container">
        <div class="row">
            <div class="article-col-1">
                <a href="#">후보자</a>
            </div>
            
            <div class="article-col-8">
               <h2 class= "article_link"></h2>
                <% @articles.each do |article| %>
                    <a href= "<%= article.link %>"><%=article.title%></a>
            </div>
            
            <div class="article-col-3">
                <a href= "/home/like/<%=article.id%>">좋아요</a>(<%=article.like%>)
                <a href= "/home/unlike/<%=article.id%>">싫어요</a>(<%=article.unlike%>)
                <% end %>
                
            </div>
        </div>
      </div>
    </section>
    
    <footer class="footer">
          <div class="container">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
             
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
             
           
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
 

   

</body>
