<!--특정후보--> 
    <section>
        
     <div class="container">
       <div class="row">
           
           <div class="col l8 offset-l2 s12">
             <div class="card horizontal">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm8vOX_z0SoI7Lnh1YHaoImkUtZZatSUSYwir6EsDIn41cAYRuZXP7Er4" alt="" class="circle responsive-img">
                
              </div>
      
              <div class="card-stacked">
        
                <div class="card-action">
                <ul>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                  <li><a class="grey-text text-lighten-3" href=""></a>article</li>
                </ul>
                </div>
              </div>
            </div>
          </div>
         
       </div>
      </div> 
      
    </section>
    
    
    <div class="divider"></div>

    
    <scetion>
      <div class="container">
        <div class="row">
            <% @articles.each do |article| %>
            <div class="col l2">
              <div class="article_candidate">
                  <a class="section2" href="#">후보자</a>
              </div>
            </div>
            <div class="col l7">
              <div class="article_link">
                 <a href= "<%= article.link %>" class="section2"><%=article.title%></a>
              </div>
            </div>
            <div class="col l3">
                <div class="row">
                    <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
                    <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
                      <% if userfavor.check_like %>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/like_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요 취소(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% else if userfavor.check_unlike %>
                      <div class="col s12 m6 l6">
                        <%= form_tag("/article/like", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                        <div class="col s12 m6 l6">
                        <%= form_tag("/article/unlike_cancel", method: "post") do %>
                            <%= hidden_field_tag :article , article.id %>
                            <%= submit_tag("싫어요 취소(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                        <% end %>
                        </div>
                      <% end %>
                    <% end %>
                    <% else %>
                    <div class="col s12 m6 l6">
                      <%= form_tag("/article/like", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("좋아요(#{article.like})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                      </div>
                      <div class="col s12 m6 l6">
                      <%= form_tag("/article/unlike", method: "post") do %>
                        <%= hidden_field_tag :article , article.id %>
                        <%= submit_tag("싫어요(#{article.unlike})", :class=>"btn waves-effect waves-light") %>
                      <% end %>
                    <% end %>
                    </div>
                        
                </div>
            </div>
            <%end%>
        </div>
      </div>
    </section>
    
 <div class="divider"></div>
 
 <section>
     
    <div class="container">
    <div class="row">
		<div class="col-md-12">
      <div class="carousel">
        <%= image_tag ('left-arrow.png'), :class => "fa-angle-left" %> 
        <a class="carousel-item" href="/home/candidate/1"><img src="https://pbs.twimg.com/profile_images/798463233774350336/KlHqUNgL.jpg"></a>
        <a class="carousel-item" href="/home/candidate/2"><img src="https://pbs.twimg.com/profile_images/548709576015507456/M0n4vz9q.png"></a>
        <a class="carousel-item" href="/home/candidate/3"><img src="https://pbs.twimg.com/profile_images/838564290143539200/aaE3Jr0o.jpg"></a>
        <a class="carousel-item" href="/home/candidate/4"><img src="http://img.asiatoday.co.kr/webdata/content/2017y/03m/02d/20170302010000981_300_300.jpg"></a>
        <%= image_tag ('right-arrow.png'), :class => "fa-angle-right" %>
      </div>
      
		</div>
	</div>
</div>

         
 </section>
 



<script>
/*$(document).ready(function() {
    $('.carousel').carousel({
          dist:0,
          duration: 50,
          padding:20,
          
    });
    autoplay()   
    function autoplay() {
        $('.carousel').carousel('next');
        setTimeout(autoplay, 4500);
    }
});*/
$('.carousel').carousel({
        full_width:true,
        time_constant: 100,
        dist:0,
        duration:50,
        padding:20,
      });

      var carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 7000);

      $('.fa-angle-right').click(function(){
        $('.carousel').carousel('next');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 7000);
      });
      $('.fa-angle-left').click(function(){
        $('.carousel').carousel('prev');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-left').click();
          }, 7000);
      });
</script>


<!--arrow button credit
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
