<!--특정후보--> 
<section>
<div class="container main">
  
  <div class="card_content">
    <div class="flexbox" style="margin-top:-10px; margin-bottom:20px">
      <div class="col s12 m8 offset-m2 l8 offset-l2 card_content">
        <div class="card-panel grey lighten-2 z-depth-1">
          <div class="flexbox valign-wrapper" style="justify-content: space-between;">
            <div style="flex: 1; padding: 10px;">
              <%= image_tag (@candidate.image), :class => "circle responsive-img", :style =>"box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.60);" %>
            </div>
            <div style="flex: 3; margin-left: 10px;">
              <div id="candidate_inform">
                 <p class="candidate_content"><strong style="font-size: 40px"><a style="text-decorations:none; color:inherit;" href="/home/candidate/<%= @candidate.id %>"><%=@candidate.name%></a></strong>기호<%= @candidate.number %>&nbsp;(<%=@candidate.party %>)</p>
                  
                  <% @articles.each do |article| %>
                <ul>
                  <li><a href= "<%= article.link %>"><%=article.title%></a></li>
                </ul>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
</section>
    
    
<div class="divider"></div>


<scetion>
  <div class="container" style="padding-top:15px;">
    <% @articles.each do |article| %>
      <div class="row">
      
        <!--후보자 이름-->
        <div class="col s2 l2">
          <div class="article_candidate">
            <a class="section2" href="#">후보자</a>
          </div>
       </div>
        
        <!--기사 제목-->
      <div class="col s6 l6">
          <div class="article_link">
            <a href= "<%= article.link %>" class="section2"><%=article.title%></a>
            <br><p><%=article.publisher %>(<%=article.article_date %>)</p>
            
            
          </div>
      </div>
        
        <!--좋아요,싫어요 버튼-->
          <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
          <!-- 이전 좋아요/싫어요 기록이 있으면 -->
          <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %> 
          
            <% if userfavor.check_like %>
            <div class="col s2 l2">
                
                <%= form_tag("/article/like_cancel", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("좋아요 취소(#{article.like})", :class =>"btn waves-effect waves-light") %>
                <% end %>
                </div>
          
             <div class="col s2 l2">
        
                <%= form_tag("/article/unlike", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("싫어요(#{article.unlike})", :class =>"btn waves-effect waves-light") %>
                <% end %>
              </div>
              
            <% else if userfavor.check_unlike %>
            <div class="col s2 l2">
          
                <%= form_tag("/article/like", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("좋아요(#{article.like})", :class =>"btn waves-effect waves-light") %>
                <% end %>
              </div>
           <div class="col s2 l2">
          
                <%= form_tag("/article/unlike_cancel", method: "post") do %>
                  <%= hidden_field_tag :article , article.id %>
                  <%= submit_tag("싫어요 취소(#{article.unlike})", :class =>"btn waves-effect waves-light") %>
                <% end %>
              </div>
            <% end %>
            
          <% end %>
              <!-- 이전 좋아요/싫어요 기록이 없으면 -->
          <% else %> 
        <div class="col s2 l2">
    
            <%= form_tag("/article/like", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= submit_tag("좋아요(#{article.like})", :class =>"btn waves-effect waves-light") %>
            <% end %>
          
        </div>
        <div class="col s2 l2">
          
            <%= form_tag("/article/unlike", method: "post") do %>
              <%= hidden_field_tag :article , article.id %>
              <%= submit_tag("싫어요(#{article.unlike})", :class =>"btn waves-effect waves-light") %>
            <% end %>
            <% end %>
          </div>
      
      </div> <!--end of row-->
    <%end%> <!--end of for @articles.each-->
  </div> <!--end of container-->
  
</section>

 <div class="divider"></div>
 
<section>
     
    <div class="container col s12 m12 l12">
      <div class="row">
    	
    	 <%= image_tag ('left-arrow.png'), :class => "fa-angle-left carou_arrow" %>
          <div class="carousel" >
            <% @candidates.each do |candidate| %>
              <a class="carousel-item" href="/home/candidate/<%= candidate.id %>"><%= image_tag (candidate.image), :class => "circle responsive-img" %></a>
            <% end %>
          </div>
        <%= image_tag ('right-arrow.png'), :class => "fa-angle-right carou_arrow" %> 

    		
    	</div>
    </div>

         
</section>
 



<script>

$(document).ready(function(){
$('.carousel').carousel({
        full_width:true,
        time_constant: 100,
        dist:0,
        duration:50,
        padding:20,
        nowrap:false,
        indicators:true,
        
      });
      

// Next slide
/*$('.carousel').carousel('next');
$('.carousel').carousel('next', 3); // Move next n times.
// Previous slide
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); // Move prev n times.
// Set to nth slide
$('.carousel').carousel('set', 4);

      var carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 8000);

      $('.fa-angle-right').click(function(){
        $('.carousel').carousel('next');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-right').click();
          }, 8000);
      });
      $('.fa-angle-left').click(function(){
        $('.carousel').carousel('prev');
        clearInterval(carouselAutoplay);
        carouselAutoplay = setInterval(function(){
            $('.fa-angle-left').click();
          }, 8000);
      }); */
      
});           
      
</script>


<!--arrow button credit
<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
