<!--<<<<<<< HEAD-->
<h2>경희</h2>
<% @articles.each do |article| %>
    <p>
        <a href= "<%= article.link %>"><%=article.title%></a>
        <% userfavor = Userfavor.find_by(article_id: article.id,user_id: current_user) %>
        <% if userfavor && (userfavor.check_like || userfavor.check_unlike) %>
          <% if userfavor.check_like %>
            <%= form_tag("/article/like_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요 취소") %>(<%=article.like%>)
            <% end %>
            <%= form_tag("/article/unlike", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요") %>(<%=article.unlike%>)
            <% end %>
          <% else if userfavor.check_unlike %>
            <%= form_tag("/article/like", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("좋아요") %>(<%=article.like%>)
            <% end %>
            <%= form_tag("/article/unlike_cancel", method: "post") do %>
                <%= hidden_field_tag :article , article.id %>
                <%= submit_tag("싫어요 취소") %>(<%=article.unlike%>)
            <% end %>
          <% end %>
        <% end %>
        <% else %>
          <%= form_tag("/article/like", method: "post") do %>
            <%= hidden_field_tag :article , article.id %>
            <%= submit_tag("좋아요") %>(<%=article.like%>)
          <% end %>
          <%= form_tag("/article/unlike", method: "post") do %>
            <%= hidden_field_tag :article , article.id %>
            <%= submit_tag("싫어요") %>(<%=article.unlike%>)
          <% end %>
        <% end %>
    </p>
<% end %>
<!--=======-->

   
 
 
 
    <section class= "random_candidate">
     <div class="container">
      <div class="row" style="display:flex; flex-direction:row; flex-wrap: nowrap;">
      
        <div class="random_candidate_container">
          <h2 class= "random_candidate_profile"></h2>
                <% @candidates.each do |c| %>
                <a href= "/home/candidate/<%=c.id%>"><%=c.name%></a>
   
        </div>
       
        <div class="candidate"> 
            <h2 class="random_candidate_article"></h2>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/candidate/<%=c.link%>"><%=c.link%></a></li>
                </ul>
                <% end %>
        </div>
      </div>
      </div> 
    </section>
<!-->>>>>>> 95ceace0d824c5ab55f5d3144a81e6fa6fa7a65f-->

    
    <scetion class= "article">
      <div class="container">
        <div class="row" style="display:flex; flex-direction:row; flex-wrap: nowrap;">
            <div class="article_candidate" style="flex-basis:10%;">
                <a href="#">후보자</a>
            </div>
            
            <div class="article_link" style="flex-basis:70%;">
               <h2 class= "article_link"></h2>
                <% @articles.each do |article| %>
                    <a href= "<%= article.link %>"><%=article.title%></a>
            </div>
            
            <div class="article_flavor"  style="flex-basis:20%;">
                <a href= "/home/like/<%=article.id%>">좋아요</a>(<%=article.like%>)
                <a href= "/home/unlike/<%=article.id%>">싫어요</a>(<%=article.unlike%>)
                <% end %>
                
            </div>
        </div>
      </div>
    </section>
    
   
 

   


