<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="page-footer #f06292 pink lighten-2">
  <div class="container">
    <div class="row">
      <div class="center-align">
        <ul class="social-network social-circle">
          <li><a href="https://www.facebook.com/cherryelection" class="icoFacebook" title="Facebook"><i class="small fa fa-facebook"></i></a></li>
          <!--<li><a href="#" class="icoGoogle" title="Google +"><i class="small fa fa-google-plus"></i></a></li>-->
          <li><a href="https://github.com/seobew/cherry_election" class="icoGoogle" title="Github"><i class="small fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- 만든이들 -->
    <div class="row">
      <div class="center-align">
        <ul class="made_by">
          <li class="made_by_list">
            <%=image_tag("kang.png", class:"contributor_img")%>
            <br>강형민
          </li>
          <li class="made_by_list">
            <%=image_tag("iseob.png", class:"contributor_img")%>
            <br>김이섭
          </li>
          <li class="made_by_list">
            <%=image_tag("kyunghee.png", class:"contributor_img")%>
            <br>황경희
          </li>
          <li class="made_by_list">
            <%=image_tag("jung.png", class:"contributor_img")%>
            <br>정태훈
          </li>
          <li class="made_by_list">
            <%=image_tag("profile.png", class:"contributor_img")%>
            <br>김소정
          </li>
          <li class="made_by_list">
            <%=image_tag("profile.png", class:"contributor_img")%>
            <br>이지영
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center-align">
    <div class="container">
      <p5>Copyright © CherryElection 2017</p5>
    </div>
  </div>
</footer>

<!--<script>
$(document).ready(function() {
  $('.page-footer').sakura();
});
</script>-->
