<nav id="header-nav" >
    <div class="nav-wrapper" style= "overflow-y: hidden;">
      <a href="/" class="brand-logo center">
        <%= image_tag ("sakura_logo_text.png"), :id => "sakura_logo_text"%>
      </a>
      <div id="login_nav">
          <% if user_signed_in? %>
              <%= link_to "로그아웃", destroy_user_session_path, method: "delete" %>
          <% else %>
              <%= link_to "회원가입", new_user_registration_path %>
              <%= link_to "로그인", new_user_session_path %>
              <%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path %>
          <% end %>
      </div>
      <!--<a href="/" class="brand-logo center">벚꽃대선</a>-->
    </div>
</nav>
 
<!-- 정보 버튼 넣기 -->
 <div class="fixed-action-btn">
       <a class="btn-floating btn-large waves-effect waves-light pink" href="#modal1"><i class="material-icons">info_outline</i></a>
       </div>
 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= image_tag "modal.png", :style =>"width:100%; height:550px;" %>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">돌아가기</a>
    </div>
  </div>


<!--header 부분에만 사쿠라 흩날리기/인포정보 팝업버튼 -->
<script>
    $(document).ready(function() {
        $('.nav-wrapper').sakura();
        $('#modal1').modal();
        
    });
</script>