<!DOCTYPE html>
<html lang= "ko-KR">
<head>
  <title>벚꽃 대선</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset= "UTF-8">
  <%= stylesheet_link_tag "basis" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--google analytics-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-98706285-1', 'auto');
    ga('send', 'pageview');
  
  </script>

  <!--highcharts-->
  <script src="https://code.highcharts.com/highcharts.js"></script>

</head>

<body>
<%= render 'layouts/header'%>
<div id="body">
  <div id="content">
    <%= yield %>  
  </div>
</div>
<%= render 'layouts/footer'%>


</body>
</html>
